.THIS {
}

.slds-spinner_container.THIS{
   position: unset !important; 
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: var(--lwc-zIndexSpinner,9050);
   background-color: var(--lwc-colorBackgroundTempModalTintAlt,rgba(255, 255, 255, 0.75));
   visibility: visible;
   opacity: 1;
   transition: opacity .2s ease,visibility 0s;
   transition-delay: 0s,.3s;
}